---
import Head from '../components/Head.astro';
import LastSyncStatus from '../components/LastSyncStatus';
import { SyncButton } from '../components/SyncButton';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <Head />
  </head>
  <body>
    <h1>WIC Scanning App</h1>
    <SyncButton client:load />
    <LastSyncStatus client:load />
  </body>
</html>
