---
import App from '../components/App.tsx';
import Head from '../components/Head.astro';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <Head />
  </head>
  <body class="bg-gray-950">
    <App client:only="react" />
  </body>
</html>
