---
const { title = 'WIC Scanning App' } = Astro.props;
---

<title>{title}</title>
<meta name="description" content="WIC Scanning App" />

<!-- Web analytics -->

<!-- Open Graph tags -->
<!-- TODO: Add following Open Graph tags once this is done-ish and live -->
<!-- <meta property="og:title" content="WIC Scanning App" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://wic.robinting.com/" />
<meta property="og:description" content="WIC Scanning App" />
<meta property="og:image" content="https://wic.robinting.com/og-image.png" />
<meta property="og:image:alt" content="WIC Scanning App" /> -->

<link rel="icon" href="/favicon.ico" />
